<!doctype html>
<html>
<body class="longreader">
  <nav>
    <button data-bind="click: settingsBar.reloadPage">
      <img style="height:1.5em;width:1.5em"
      data-bind="attr: {src: backIconUri}"/>
    </button>
    <button data-bind="click: settingsBar.slideUpDown">
      <img style="height:1.5em;width:1.5em"
       data-bind="attr: {src: cogIconUri}"/>
    </button>


    <div id="longreader-option-window" class="longreader-option">
      <input data-bind="click: settingsBar.bgColorWidget"  id="longreader-colorpicker-bgcolor" placeholder="Background Color" size="13" class="color">
      <input data-bind="click: settingsBar.fontColorWidget" id="longreader-colorpicker-fontcolor" placeholder="Font Color" size="13" class="color">
      <select data-bind="options: fontList, optionsText: 'displayName', value: selectedFont" id="longreader-fontselector"></select>
      <input id="longreader-option-size" placeholder="Text Size" size="18">
    </div>
  </nav>
  <article class="longreader-three-col" data-bind="style: {fontFamily: selectedFont().styleString}">
    <h1 data-bind="text: displayContent.articleTitle"></h1>
    <h2 data-bind="text: displayContent.articleAuthor"></h2>
    <div data-bind="html: displayContent.articleContent"></div>
  </article>
</body>
</html>
