<!doctype html>
<html>
<body class="longreader">
  <nav>
    <button data-bind="click: settingsBar.reloadPage">
      <img style="height:1.5em;width:1.5em"
      data-bind="attr: {src: backIconUri}"/>
    </button>
    <button data-bind="click: settingsBar.slideUpDown">
      <img style="height:1.5em;width:1.5em"
       data-bind="attr: {src: cogIconUri}"/>
    </button>


    <div id="longreader-option-window" class="longreader-option">
      <input data-bind="click: bgColorWidget"  id="bgColorWidget" placeholder="Background Color" size="18" class="color">
      <input data-bind="click: fontColorWidget" id="longreader-colorpicker-fontcolor" placeholder="Font Color" size="18" class="color">
      <input id="longreader-fontsize" placeholder="Font" size="18">
      <input id="longreader-option-size" placeholder="Text Size" size="18">
    </div>
  </nav>
  <article class="longreader-three-col">
    <h1 data-bind="text: articleTitle"></h1>
    <h2 data-bind="text: articleAuthor"></h2>
    <div data-bind="html: articleContent"></div>
  </article>
</body>
</html>
