
body {
  overflow-y: hidden; /* no vertical scroll bars! */
}

button { /* options, back */
  font-size: x-small;
  cursor: pointer !important;
  border: 1px solid;
  text-decoration: none;
  padding: 1px 3px; /* t/b r/l */
  margin:  0 3px;
}

nav {
  padding-bottom: 3px;
  margin-bottom: 3px;
  border-bottom: 1px solid grey;
}

.longreader, .longreader a, .longreader button {

}

.longreader-three-col {
  height: 95vh; /* 95% of viewport */
  overflow-x: auto !important;
  -webkit-column-width: 400px !important;
  -moz-column-width: 400px  !important;
  column-width: 400px !important;
}

#longreader-option-window {
  display: none; /* slides down */
  margin: 5px 0px;
  padding: 0px 0px
}

.longreader-option input{
  display: inline-block;

}

.longreader-hide {
  display: none;
}
