
  .longreader, .longreader a {
    background-color: black !important;
    background: black;
    color: white !important;
  }

  .longreader-three-col {
      -webkit-column-width: 400px !important;
      -moz-column-width: 400px !important;
      column-width: 400px !important;
    }

    #longreader-back-btn {
      cursor: pointer !important;
    }

    .longreader-hide {
      display: none;
    }
